<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                
                <td>
                    <input type="text" ng-model="searchid">
                </td>
                <td>
                    <input type="text" ng-model="searchName">
                </td>
                <td>
                    <input type="text" ng-model="searchdesc">
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="case in cases | filter:searchName">
                <td scope="row">{{case.id}}</td>
                <td class="selectRecord" style="color: #1a72ce" ng-click="getCase(case)"><a>{{case.name}}</a></td>
                <td scope="row">{{case.description}}</td>
            </tr>

        </tbody>
    </table>
</div>