<div class="col-md-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>
                    <input type="text" ng-model="searchCustNum">
                </td>
                <td>
                    <input type="text" ng-model="searchCustName">
                </td>
                <td>
                    <input type="text" ng-model="searchCredit">
                </td>
                <td>
                    <input type="text" ng-model="searchExposure">
                </td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">Customer Number</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Credit Limit</th>
                <th scope="col">Total Exposure</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cust in custs | filter:searchCustName">
                <td scope="row">{{cust.CustNum}}</td>
                <td id="selectRecord" style="color: #1a72ce" ng-click="getEdit(cust.CustNum)"><a>{{cust.CustName}}</a></td>
                <td>{{cust.credit}}</td>
                <td>{{cust.exposure}}</td>
            </tr>

        </tbody>
    </table>
</div>